body, html
	margin: 0
	top: 0
	left: 0
	height: 100%
	overflow: hidden

#gamezone
	position: absolute
	left: 1vw
	top: 1vh
	height: 98vh
	width: 98vw
	overflow: hidden
	border: 1px solid black

#slider
	position: absolute
	top: 95%
	height: 5%
	width: 20%
	background: black
	border-radius: 5%

#ball
	height: 30px
	width: 30px
	position: absolute
	border-radius: 30px
	background: #656565

#brick-container
	display: flex
	flex-wrap: wrap

.brick
	height: 5vh
	width: 10vw
	background: red
	margin: 1vw 1vw 0 1vw
